* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1171px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    text-align: center;
    display: inline-block;
    min-width: 186px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 8px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Header */

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
    background: #fff;
}

.header .nav ul a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 19.5px;
}

.header .nav ul a:hover,
.header .sign-in:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .nav ul {
    display: flex;
}

.header .action {
    margin-left: 97.5px;
}

.header .action .sign-in {
    color: #494949;
    font-size: 1.6rem;
}

.header .action .sign-up {
    display: inline-block;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    padding: 12px 23px;
    border: 1px solid #1ebfc1;
    margin-left: 24px;
}

.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    margin-top: 93px;
    width: 39%;
}
.hero .media-block .title {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .media-block .heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 18px;
}

.hero .media-block .desc {
    color: #9da6a5;
    font-size: 1.8rem;
    margin-top: 46px;
    line-height: 1.78;
    width: 374px;
}

.hero .media-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .media-block .cta-group button {
    border: none;
    background: transparent;
    width: 62px;
    height: 62px;
    cursor: pointer;
    margin-left: 50px;
}

.hero .content-block {
    width: 61%;
    position: relative;
    padding-left: 96px;
}

.hero .content-block .images {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .content-block .hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero .content-block .hero-item-1 .book {
    width: 36px;
    height: 40px;
    object-fit: cover;
}

.hero .content-block .hero-item-1 {
    display: flex;
    align-items: center;
    padding: 17px 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 149px;
    left: 96px;
}

.hero .content-block .hero-item-1 .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 16px;
    line-height: normal;
    width: 55px;
}

.hero .content-block .hero-item-2 {
    display: inline-block;
    border-radius: 24px;
    background: #fff;
    padding: 16px 25px 25px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 46px;
    left: 96px;
}

.hero .content-block .hero-item-2 .bar {
    margin-top: 16px;
}

.hero .content-block .hero-item-2 .bar img {
    display: block;
}

.hero .content-block .hero-item-2 .bar img + img {
    margin-top: 12px;
}

.hero .content-block .hero-item-3 {
    padding: 17px 35px;
    position: absolute;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 41px;
    right: 45px;
}

.hero .content-block .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero .content-block .hero-item-3 .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .content-block .avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .content-block .avatar.show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background: #1ebfc1;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.hero .content-block .avatar + .avatar {
    margin-left: -7px;
}

.feature {
    margin-top: 130px;
}

.feature .body {
    width: 1024px;
}

.feature p.title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    word-break: break-all;
}

.feature h2.heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    margin: 18px 0;
    width: 577px;
}

.feature .desc {
    color: #767e7e;
    font-size: 1.8rem;
    width: 590px;
}

.feature .feature-list {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.feature .feature-list .heading {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 26px;
}

.feature .feature-list .feature-item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
    width: 168px;
    margin-top: 16px;
}

.feature .feature-list .feature-item:nth-child(2) .desc {
    width: 223px;
}

.feature .feature-list .feature-item:nth-child(3) .desc {
    width: 224px;
}

.courses {
    margin-top: 130px;
}

.courses .courses-top .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .courses-top .heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 18px;
}

.courses .courses-top .row {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-top .row .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
}

.courses .courses-top .row .link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses-list {
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.courses-item {
    width: 33.33%;
    position: relative;
}

.courses-item .images {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
    object-fit: cover;
}

.courses-item .courses-price {
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
}

.courses-item .courses-price .title,
.courses-item .courses-price .fee strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-item .courses-price .fee {
    color: #767e7e;
    font-size: 1.6rem;
    margin-top: 16px;
}

.courses-item .courses-price .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    margin-top: 6px;
}

.courses-item .courses-price .row {
    display: flex;
    margin-top: 18px;
    gap: 10px;
}

.courses-item .courses-price .row .desc {
    position: relative;
    padding-left: 10px;
}

.courses-item .courses-price .row .desc::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    position: absolute;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

.qty {
    margin-top: 389px;
}

.qty .row {
    display: flex;
    justify-content: center;
}

.qty-item strong {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.qty-item .desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}

.qty .content {
    width: 74%;
    display: flex;
    justify-content: space-between;
}

.feedback {
    margin-top: 264px;
}

.feedback .body {
    display: flex;
}

.feedback .media-block {
    width: 36%;
}

.feedback .content-block {
    width: 58%;
    margin-left: 72px;
}

.feedback .media-block blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback .media-block .desc {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
}

.feedback .media-block .desc strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    padding-left: 13px;
}

.feedback .media-block .desc strong::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 2px;
    background: #070707;
    left: 0;
    top: 11px;
}

/* ======================== */

.feedback .content-block {
    display: flex;
    position: relative;
    height: 481px;
}

.feedback .avatar-1 {
    position: absolute;
    left: 144px;
    top: 0;
}

.feedback .avatar-2 {
    position: absolute;
    right: 0;
    top: 19px;
}

.feedback .avatar-3 {
    position: absolute;
    left: 273px;
    top: 107px;
}

.feedback .avatar-4 {
    position: absolute;
    left: 0;
    top: 258px;
}

.feedback .avatar-5 {
    position: absolute;
    bottom: 0;
    left: 212px;
}

.feedback .avatar-6 {
    position: absolute;
    bottom: 29px;
    right: 32px;
}

.feedback .arrow {
    margin-top: 52px;
    display: flex;
    gap: 0 30px;
}

.feedback .arrow-left {
    border-radius: 50px;
    background: #2ac9bf;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid #2ac9bf;
}

.feedback .arrow-left:hover {
    color: #2ac9bf;
    background: #fff;
}

.feedback .arrow-right {
    border-radius: 50px;
    background: #2ac9bf;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid #2ac9bf;
}

.feedback .arrow-right:hover {
    color: #2ac9bf;
    background: #fff;
}

.cta {
    padding: 76px 135px 88px;
    background: #def6f5;
    margin-top: 130px;
}

.cta .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-content .heading {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.cta-content .desc {
    color: #767e7e;
    font-size: 1.8rem;
    margin-top: 18px;
}

.cta .btn {
    margin-right: 138px;
    box-shadow: none;
}

.footer {
    margin-top: 130px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    gap: 144px;
}

.footer .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .column ul {
    margin-top: 25px;
}

.footer .column li a {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.footer .column li a,
.footer .column span {
    color: #535353;
    font-size: 1.6rem;
    text-wrap: nowrap;
}

.footer .column li:last-child {
    margin-bottom: 0;
}

.footer .column .socials-icon {
    margin-right: 9px;
}

.footer .copy-right {
    padding: 80px 0 50px;
}

.footer .copy-right p {
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
}
